/* styling for galaxys5 also default */
main{
  background-color: #e6e6e9;
  margin: auto;
  padding-bottom: 10px;
}

header{
  margin-bottom: 1.5rem;
}

/* font sizing/styling */
h1{
  font-size: 2.5rem;
  color: purple;
  padding: 1rem 0 0 1rem;
  margin: 0;
}

h2{
  font-size: 1.875rem;
  padding-top: 1rem;
  padding-left: 1rem;
  margin: 0;
}

h3{
  font-size: 1.5rem;
  margin: 1rem 0;
}

p{
  font-size: 1rem;
}

/* styling the more visual elements aka background,border etc */
section{
  background-color: #fff;
  border: 1px solid black;
  padding: 1rem;
  margin: 0.5rem 1rem;
}

/* make my image fit the box */
img{
  width: 100%;
}

/* fixing the footer */
footer p{
  margin: 0;
  padding: 1rem;
}

/* default flex for media queries to bounce from */
article{
  display: flex;
  flex-wrap: wrap;
}

section{
  display: flex;
  flex-wrap: wrap;
}

flex-text{
  align-self: flex-start;
}


/* IPad Portrait view */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){

article {
    flex-wrap: wrap;
}

section{
    flex-wrap: nowrap;
}

img{
  width: 40%;
  margin-right: 1rem;
}
}


/* IPad Landscape view */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

article{
  flex-wrap: nowrap;
}

h2{
  margin: 0;
}

section{
  width: 32%;
  flex-direction: column;
}
}

/* desktop view */
@media only screen and (min-device-width : 1025px) and (orientation : landscape){

header,
h2,
article,
footer{
  width: 1000px;
  margin: 0 auto;
}

h2{
  padding-left: 2rem;
}

header{
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

article{
  flex-wrap: nowrap;
}

section{
  flex-direction: column;
  flex-wrap: nowrap;
}
}
