/* basis */
html{
  font-family: Arial,sans-serif;
}

/* I should have margin body 0 in ny default template */
body{
  margin: 0;
}

header{
  background-color: #0046be;
}
header ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}

header > ul.container{
  font-size: 12px;
}

.container{
  width: 1280px;
  margin: 0 auto;
}


/* flexing and moving the items to the right place */
header > ul{
  justify-content: flex-end;
  height: 48px;
  align-items: center;
}

header >ul li{
  margin-left: 16px;
}

/* :not(____) essentially excludes the div with the class dk-blue from the styling.
Lets say we want to target a specific div but there is another div. However the classes are
different. In this method we are targeting the div but excluding whatever div we don't want :not(____)   */
header > div:not(.dk-blue){
  display: flex;
  justify-content: space-between;
}

header > div:not(.dk-blue) ul:last-child{
  flex-basis: 250px;
  /* flex basis might replace using widths */
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}


div.container > ul:first-child{
  padding-left:25px;
}

nav > ul li{
  height: 40px;
  padding-left: 25px;
  padding-top: 20px;
  font-weight: bold;
}


/* the top grey bar */
p{
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  background-color: #f4f6f9;
  margin: 0;
  padding: 17px 48px;
}

header > p > span{
  font-weight: bold;
  margin-right: 8px;
}

header > p > a{
  font-weight: bold;
  color: #0046be;
}

a:hover{
  text-decoration: underline;
}

.dk-blue{
  background-color: #003DA6;
}
